* {
  margin: 0;
  padding: 0;
}

.quadro {
  width: 30%;
  height: 200px;
  margin: 5px;
  background-color: silver;
  display: inline-block;
  position: relative;
}

.sconto {
  padding: 1px;
  width: 40px;
  height: 20px;
  position: absolute;
  right: 0;
  font-size: 1em;
  text-align: center;
}

.verde {
  background-color: green;
}

.rosso {
  background-color: red;
}

img {
  display: none;
}

.tablet {
  background-image: url(immagini/tablet.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.smartphone {
  background-image: url(immagini/smartphone.png);
  background-size: 100px;
    background-repeat: no-repeat;
  background-position: center;
}

.cuffie {
  background-image: url(immagini/cuffie.png);
  background-size: 100px;
    background-repeat: no-repeat;
  background-position: center;
}
